# Restructuring Data into a Tidy Form

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

## Tidying variable values as column names with stack

In [3]:
state_fruit = pd.read_csv('data/state_fruit.csv', index_col=0)
state_fruit

         Apple  Orange  Banana
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190