In [1]:
import pandas as pd
from io import StringIO

csv_data = \
'''A, B, C, D
1.0, 2.0, 3.0, 4.0
5.0, 6.0, , 8.0
10.0, 11.0, 12.0, '''

# If using Python 2.7, the string needs to be convert to unicode
# csv_data = unicode(csv_data)
df = pd.read_csv(StringIO(csv_data))
df

      A     B      C     D
0   1.0   2.0    3.0   4.0
1   5.0   6.0          8.0
2  10.0  11.0   12.0

In [2]:
df.isnull().sum()

A     0
 B    0
 C    0
 D    0
dtype: int64