In [33]:
import pyspark.sql.functions as F
from pyspark.sql import Window

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

In [5]:
df = spark.read.csv("F:/python/sql/query_one.csv", header=True)

In [6]:
df.show()

+-------+------------+--------------+
|user_id|        page|unix_timestamp|
+-------+------------+--------------+
|   6684|   home_page|    1451640067|
|   8098|   home_page|    1451647141|
|   9440|   home_page|    1451653638|
|   1003|   home_page|    1451611211|
|   4272|product_page|    1451628024|
|   8067|      search|    1451647070|
|   1314|   home_page|    1451612802|
|    845|   home_page|    1451610443|
|   5263|   home_page|    1451632737|
|   7891|      search|    1451646428|
|   3051|   home_page|    1451621943|
|   8706|   home_page|    1451650054|
|   1725|      search|    1451615322|
|     52|      search|    1451606596|
|   2176|   home_page|    1451617589|
|   3591|   home_page|    1451624679|
|    813|   home_page|    1451610299|
|   9933|   home_page|    1451656083|
|   9490|   home_page|    1451653918|
|   4915|   home_page|    1451631062|
+-------+------------+--------------+
only showing top 20 rows

In [16]:
df.dtypes

[('user_id', 'string'), ('page', 'string'), ('unix_timestamp', 'string')]

In [18]:
from pyspark.sql.types import IntegerType

In [21]:
df = df.withColumn('user_id', F.col('user_id').cast(IntegerType()))\
       .withColumn('unix_timestamp', F.col('unix_timestamp').cast(IntegerType()))

In [22]:
df

DataFrame[user_id: int, page: string, unix_timestamp: int]

In [31]:
output = df.withColumn('last_timestamp', F.lag(F.col('unix_timestamp'), 1)\
                      .over(Window.partitionBy(['user_id']).orderBy('unix_timestamp')))\
           .withColumn('gap_from_last', F.when(F.col('last_timestamp').isNull(), None)\
                                         .otherwise(F.col('unix_timestamp')-F.col('last_timestamp')))\
           .withColumn('gap_between_last_two', F.last(F.col('gap_from_last'))\
                      .over(Window.partitionBy(['user_id']).orderBy('unix_timestamp')))\
           .select('user_id', 'gap_between_last_two')\
           .orderBy('user_id', ascending=True).show()

+-------+--------------------+
|user_id|gap_between_last_two|
+-------+--------------------+
|      2|                null|
|      3|                null|
|      3|                   2|
|      4|                null|
|      4|                   1|
|      4|                  11|
|      4|                   4|
|      5|                null|
|      7|                null|
|      8|                null|
|      9|                null|
|     13|                null|
|     14|                null|
|     15|                   7|
|     15|                null|
|     17|                null|
|     21|                null|
|     22|                null|
|     23|                null|
|     24|                   6|
+-------+--------------------+
only showing top 20 rows