In [2]:
import pyspark.sql.functions as F
from pyspark.sql import Window

from pyspark.sql.types import IntegerType

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

In [4]:
df = spark.read.csv("F:/python/data/conversion_data.csv", header=True)

In [6]:
df.show(5)

+-------+---+--------+------+-------------------+---------+
|country|age|new_user|source|total_pages_visited|converted|
+-------+---+--------+------+-------------------+---------+
|     UK| 25|       1|   Ads|                  1|        0|
|     US| 23|       1|   Seo|                  5|        0|
|     US| 28|       1|   Seo|                  4|        0|
|  China| 39|       1|   Seo|                  5|        0|
|     US| 30|       1|   Seo|                  6|        0|
+-------+---+--------+------+-------------------+---------+
only showing top 5 rows

In [7]:
df.dtypes

[('country', 'string'),
 ('age', 'string'),
 ('new_user', 'string'),
 ('source', 'string'),
 ('total_pages_visited', 'string'),
 ('converted', 'string')]

In [8]:
df = df.withColumn('age', F.col('age').cast(IntegerType()))\
       .withColumn('new_user', F.col('new_user').cast(IntegerType()))\
       .withColumn('total_pages_visited', F.col('total_pages_visited').cast(IntegerType()))\
       .withColumn('converted', F.col('converted').cast(IntegerType()))

In [9]:
df.dtypes

[('country', 'string'),
 ('age', 'int'),
 ('new_user', 'int'),
 ('source', 'string'),
 ('total_pages_visited', 'int'),
 ('converted', 'int')]