In [1]:
import pyspark.sql.functions as F
from pyspark.sql import Window

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

In [6]:
df_march = spark.read.csv("F:/python/sql/query_four_march.csv", header=True)

In [7]:
df_march.show(3)

+-------+----------+------------------+
|user_id|      date|transaction_amount|
+-------+----------+------------------+
|  13399|2015-03-01|                18|
|  11934|2015-03-01|                63|
|   3542|2015-03-01|                14|
+-------+----------+------------------+
only showing top 3 rows

In [11]:
df_march.dtypes

[('user_id', 'string'), ('date', 'string'), ('transaction_amount', 'string')]

In [13]:
from pyspark.sql.types import IntegerType
df_march = df_march.withColumn('user_id', F.col('user_id').cast(IntegerType()))\
                   .withColumn('transaction_amount', F.col('transaction_amount').cast(IntegerType()))

In [8]:
df_april = spark.read.csv("F:/python/sql/query_four_april.csv", header=True)

In [10]:
df_april.show(3)

+-------+----------+------------------+
|user_id|      date|transaction_amount|
+-------+----------+------------------+
|  15895|2015-04-01|                66|
|    271|2015-04-01|                55|
|   4677|2015-04-01|                73|
+-------+----------+------------------+
only showing top 3 rows

In [14]:
df_april = df_april.withColumn('user_id', F.col('user_id').cast(IntegerType()))\
                   .withColumn('transaction_amount', F.col('transaction_amount').cast(IntegerType()))

In [29]:
df = df_march.union(df_april)

In [30]:
df.show(3)

+-------+----------+------------------+
|user_id|      date|transaction_amount|
+-------+----------+------------------+
|  13399|2015-03-01|                18|
|  11934|2015-03-01|                63|
|   3542|2015-03-01|                14|
+-------+----------+------------------+
only showing top 3 rows

In [28]:
df.groupBy('user_id').agg(F.sum('transaction_amount').alias('sum_transaction')).orderBy('user_id').show(5)

+-------+---------------+
|user_id|sum_transaction|
+-------+---------------+
|      2|             67|
|      3|             26|
|      4|            156|
|      5|             45|
|      6|             32|
+-------+---------------+
only showing top 5 rows

In [37]:
df.withColumn('cumulative_transaction', F.sum(F.col('transaction_amount'))\
             .over(Window.partitionBy('user_id').orderBy('date')))\
  .orderBy(['user_id', 'date']).show(5)

+-------+----------+------------------+----------------------+
|user_id|      date|transaction_amount|cumulative_transaction|
+-------+----------+------------------+----------------------+
|      2|2015-03-13|                67|                    67|
|      3|2015-03-31|                26|                    26|
|      4|2015-03-28|                63|                    63|
|      4|2015-04-20|                93|                   156|
|      5|2015-03-01|                45|                    45|
+-------+----------+------------------+----------------------+
only showing top 5 rows