In [ ]:
import pyspark.sql.functions as F
from pyspark.sql import Window

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

In [ ]:
df_users = spark.read.csv("F:/python/sql/query_five_users.csv", header=True)

In [ ]:
df_users.show(3)

In [ ]:
from pyspark.sql.types import IntegerType
df_users = df_users.withColumn('user_id', F.col('user_id').cast(IntegerType()))

In [ ]:
df_transactions = spark.read.csv("F:/python/sql/query_five_transactions.csv", header=True)

In [6]:
df_transactions.show(3)

+-------+-------------------+------------------+
|user_id|   transaction_date|transaction_amount|
+-------+-------------------+------------------+
| 856898|2015-08-02 03:56:08|                49|
| 703491|2015-07-04 17:05:25|                72|
| 444167|2015-02-10 03:26:03|                65|
+-------+-------------------+------------------+
only showing top 3 rows

In [7]:
df_transactions = df_transactions.withColumn('user_id', F.col('user_id').cast(IntegerType()))\
                                 .withColumn('transaction_amount', F.col('transaction_amount').cast(IntegerType()))

In [8]:
df_transactions = df_transactions.withColumn('date', F.col('transaction_date').substr(1, 10))

In [9]:
df = df_transactions.join(df_users, 'user_id', 'left')

In [10]:
df.show(3)

+-------+-------------------+------------------+----------+------------+
|user_id|   transaction_date|transaction_amount|      date|sign_up_date|
+-------+-------------------+------------------+----------+------------+
| 856898|2015-08-02 03:56:08|                49|2015-08-02|  2015-03-16|
| 703491|2015-07-04 17:05:25|                72|2015-07-04|  2015-03-03|
| 444167|2015-02-10 03:26:03|                65|2015-02-10|  2015-02-10|
+-------+-------------------+------------------+----------+------------+
only showing top 3 rows

In [11]:
from pyspark.sql import DataFrameStatFunctions as d

average = df.filter(F.col('date')==F.col('sign_up_date')).groupBy().agg(F.mean(F.col('transaction_amount')).alias('average'))

In [12]:
average.show()

+-----------------+
|          average|
+-----------------+
|49.24625748502994|
+-----------------+

In [86]:
median = df.approxQuantile('transaction_amount', [0.5], 0.0)

In [88]:
median

[49.0]