In [1]:
import pyspark.sql.functions as F
from pyspark.sql import Window

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style"))

In [2]:
df = spark.read.csv("F:/python/sql/query_three.csv", header=True)

In [3]:
df.show(3)

+-------+-------------------+
|user_id|               date|
+-------+-------------------+
|    675|2014-12-31 16:16:12|
|   1967|2014-12-31 16:37:57|
|     57|2014-12-31 17:05:32|
+-------+-------------------+
only showing top 3 rows

In [8]:
df.dtypes

[('user_id', 'string'), ('date', 'string')]

In [9]:
from pyspark.sql.types import IntegerType
df = df.withColumn('user_id', F.col('user_id').cast(IntegerType()))

In [10]:
df.withColumn('nth_purchase', F.count('date').over(Window.partitionBy(['user_id']).orderBy('date')))\
  .filter(F.col('nth_purchase')==10)\
  .select('user_id', 'date')\
  .orderBy('user_id').show(10)

+-------+-------------------+
|user_id|               date|
+-------+-------------------+
|      1|2015-10-21 06:20:14|
|      3|2015-10-29 22:41:00|
|      4|2015-09-25 12:36:10|
|      5|2015-09-18 06:25:40|
|      6|2015-12-30 00:53:59|
|      7|2015-09-10 02:46:45|
|     10|2015-12-24 12:52:30|
|     11|2015-11-10 05:31:19|
|     12|2015-10-01 20:24:07|
|     16|2015-11-14 08:01:56|
+-------+-------------------+
only showing top 10 rows